.background {
    background-color: #003566;
}

.banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2vh;
}

/* navbar */
.navbar {
    background-color: #001D3D;
    min-width: 300px;
    width: 100%;
    min-height: 4em;
    max-height: 8vh;
}

.navbar a {
    color: wheat;
}

/* weather card */
.weather-card {
    background-color: #001D3D;

    margin-top: 1em;
    margin-bottom: 1em;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    row-gap: 30px;

    min-width: 600px;
    min-height: 700px;
    height: 80vh;

    color: wheat;
    text-align: center;

    padding: 30px;
}

.weather-card img {
    margin: auto;
}

.weather-card h1 {
    font-size: 5em;
    align-self: center;
    margin-bottom: 0;
}
.weather-card h2 {
    align-self: center;
    margin-bottom: 0;
}
.weather-card h3 {
    align-self: center;
    margin-bottom: 0;
}

.weather-card-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.high-and-low {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description-box {
    border: solid;
    border-radius: 25px;
    border-color: #003566;
    padding: 10px;
}
/* -------------------------------------------------- */

/* forecast card */
.forecast-card {
    background-color: #001D3D;

    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 40px;

    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    row-gap: 1em;
    
    min-width: 600px;
    min-height: 700px;
    height: 80vh;

    color: wheat;
    text-align: center;
}

.forecast-card h1 {
    font-size: 2em;
}

.forecast-card h3 {
    font-size: 1.5em;
}

.forecast-button-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.forecast-row {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
}

.forecast-card img {
    margin: auto;
}
.forecast-row:hover {
    background-color: #003566;
    border: solid;
    border-color: #000814;
    border-radius: 30px;
}

.forecast-row:active {
    background-color: #004280;
    color: #ffc300;
}

.forecast-row-selected {
    background-color: #004280;
    color: #ffc300;
    border: solid;
    border-radius: 30px;
    border-color: #000814;
}

.forecast-button:hover {
    background-color: #003566;
}

.forecast-button:active {
    background-color: #004280;
}

.forecast-button:active svg{
    fill: #ffc300;
}
/* -------------------------------------------------- */

.footerbar {
    background-color: #001d3d;
    width: 100%;
    height: 8vh;
}

/* -------------------------------------------------- */
.error-alert {
    position: absolute;
    z-index: 10;
    width: 50vw;
    background-color: #222E50;
    color: red;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

/* error message */
.show-error {
    display: initial;
}

.close-error-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 50%;
}