.card-row {
    padding-top: 1em;
    padding-bottom: 1em;
}

.card {
    background-color: #001D3D;
}

.background {
    background-color: #003566;
}

.banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2vh;
}

.navbar {
    background-color: #001D3D;
    min-width: 300px;
    width: 100%;
    min-height: 4em;
    max-height: 8vh;
}

.weather {
    min-width: 400px;
    width: 100%;
    height: 80vh;

    .header {
        text-align: center;
        color: wheat;
        margin: 1em;
    }

    .weather-main-row {
        text-align: center;
    }
    .temperature-today {
        font-size: 5em;
        margin: 0;
        color: wheat;
    }
}

.forecast {
    min-width: 400px;
    width: 100%;
    height: 80vh;
}


.footerbar {
    background-color: #001D3D;
    width: 100%;
    height: 8vh;
}

@media (max-width: 768px) {
    .weather {
        margin-top: 1em;

    }
    .forecast {
        margin-top: 1em;
    }    
}