
.banner {
    background-color: blue;
    width: 100%;
    height: 8vh;
}

.navbar {
    background-color: red;
    width: 100%;
    height: 7vh;
}

.weather {
    background-color: yellow;
    width: 100%;
    height: 75vh;
    
}

.forcast {
    background-color: green;
    width: 100%;
    height: 75vh;
}

.footerbar {
    background-color: orange;
    width: 100%;
    height: 10vh;
}
